<div class="container">
  <h1>Welcome to EvilGiri!</h1>
  
  <form action="/scan" method="POST"> 
    <input type="text" name="elo_id" value="Elo player id"></input>
    <input type="text" name="selector" placeholder="e.g .class_name" ></input>
    <input type ="submit" value ="start scan" > 
  </form>

<% if @treasure %>
<ul>
  <li> <%=@timer %> </li>
  <li> <%=@counter %> </li>
    <li> <%= @timer/@counter %> </li>
  <% @treasure.each do |player|%>
  <li><%= player %></li>
<%end end%>

</ul>

</div>
